{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-decorators",
    ["import", { "libraryName": "antd", "style": "css" }]
  ],
  "env": {
    "development": {
      "plugins": [
        "extract-hoc/babel",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
